@import url('https://fonts.googleapis.com/css2?family=Charm&family=Tillana:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm&family=Gaegu&family=Tillana:wght@600&display=swap');

* {
    box-sizing: border-box;
}

body::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222f5b;
    background-image: url("/static/images/parchment.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7; /* 배경화면 이미지의 불투명도 설정 (0.0 ~ 1.0 사이의 값을 사용) */
}

.container {
    display: flex;
    width: 100%;
    height: 90vh;
}


/* Calendar */

.calendar {
    flex: 5;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 60px;
    font-family: 'Charm', cursive;
    position: relative;
}

#calendar {
    max-width: 800px;
    margin: 0 auto;
}

#calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}

#calendar-table {
    width: 100%;
    border-collapse: collapse;
}

#calendar-table th,
#calendar-table td {
    border: 1px solid #ccc;
    text-align: center;
    font-size: 25px;
    padding: 10px;
}

#calendar-table th {
    font-weight: bold;
    border: none;
}

#calendar-table td {
    height: 80px;
    border: none; /* 달력 칸 없애기 */
}

#calendar-header button {
    border: none;
    background-color: transparent;
}

.castle {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.5;
  }

/* Chat */

.chat {
    background-color: transparent;
    padding: 100px;
    flex: 5;
    font-family: 'Gaegu', cursive;
}

.chat-container {
    background-color: transparent;
    position: relative;
    padding: 50px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hogwart{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
}

.chat-message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.chat-message.user {
    justify-content: flex-end;
}

.chat-message.openai {
    justify-content: flex-start;
}

.bubble {
    background-color: #1a472a;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    max-width: 60%;
    color: white;
}

.chat-message.user .bubble {
    background-color: #0e1a40;
    color: white;
}

.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #000;
    font-family: 'Gaegu', cursive;
}

.chat-input input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 5px;
    font-family: 'Gaegu', cursive;
    font-size: 20px;
}

.chat-input input::placeholder {
    color: black;
}


.chat-input button {
    background-color: transparent;
    color: black;
    border: none;
    outline: none;
    padding: 5px 10px;
    cursor: pointer;
    font-family: 'Gaegu', cursive;
    font-size: 20px;
}


/* favicons */

.favicons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    /* background-color: #f5f5f5; */
    /* border-bottom: 1px solid #ccc; */
    margin-top: 60px; /* 원하는 상단 여백으로 조정하세요 */
    font-family: 'Charm', cursive;
}

.favicon {
    margin: 0 20px;
    margin-bottom: 10px;
}

.favicon img {
    width: 50px; /* 이미지 크기 조정 */
    height: 50px;
}