@import url('https://fonts.googleapis.com/css2?family=Charm&family=Gaegu&family=Nanum+Myeongjo&display=swap');

* {
    box-sizing: border-box;
}

body::before {
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222f5b;
    background-image: url("/static/images/wallpaper/parchment.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}

.container {
    display: flex;
    width: 100%;
    min-height: 90vh;
}

/* Calendar */

.calendar {
    background-color: transparent;
    flex: 5;
    margin-top: -10px;
    margin-bottom: 20px;
    margin-left: 200px;
    padding-right: -30px;
    font-family: 'Charm', cursive;
    position: relative;
    height: 80%;
}

.calendar .calendar-image {
    max-width: 100%;
    max-height: 50px;
    display: block;
    margin: 5px auto;
  }

#calendar {
    max-width: 600px;
    margin: 0 auto;
}

#calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}

#calendar-table {
    width: 100%;
    border-collapse: collapse;
}

#calendar-table th,
#calendar-table td {
    border: 1px solid #ccc;
    text-align: center;
    font-size: 25px;
    padding: 10px;
}

#calendar-table th {
    font-weight: bold;
    border: none;
}

#calendar-table td {
    height: 80px;
    border: none; /* 달력 칸 없애기 */
}

#calendar-table td div {
    margin-bottom: 5px;
}

#calendar-header button {
    border: none;
    background-color: transparent;
}

#calendar-table td .dateDiv {
    position: relative;
    margin-bottom: 5px;
}

.castle {
    position: absolute;
    top: 150px;
    left: 0;
    opacity: 0.5;
}

/* Chat */

.chat {
    margin-top: -30px;
    margin-right: 5%;
    padding: 10%;
    height: 30%;
    width: 100%;
    flex: 5;
    font-family: 'Nanum Myeongjo', serif;
    position: relative;
    margin-left: -60px;
}

.chat-container {
    position: relative;
    top: -100px;
    padding: 50px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    margin-left: -10%;
}

.show-text {
    background-image: tranparent;
    background-size: cover;
    background-position: center center;
}

.hogwart {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.chat-container.show-text {
    text-align: center;
    letter-spacing: -0.05em;
}

.chat-container.show-text p {
    margin-top: 5px;
    margin-bottom: 0;
}  

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    height: 70vh;
}

.chat-message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.chat-message.user {
    justify-content: flex-end;
}

.chat-message.openai {
    justify-content: flex-start;
}

.bubble {
    background-color: #1a472a;
    border-radius: 5px;
    padding: 12px; 
    display: inline-block;
    max-width: 70%; 
    color: white;
    font-size: 15px;
    text-align: left; 
    line-height: 1.5;
}


.chat-message.user .bubble {
    background-color: #0e1a40;
    color: white;
}

.chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #000;
  font-family: 'Nanum Myeongjo', serif;
}

.chat-input input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 5px;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 20px;
}

.chat-input input::placeholder {
  color: black;
}

.chat-input button {
  background-color: transparent;
  color: black;
  border: none;
  outline: none;
  padding: 5px 10px;
  cursor: pointer;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 20px;
}


/* favicons */

.favicons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.describe {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Nanum Myeongjo', serif;
}

.favicons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.favicon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.favicon img {
    width: 80px;
    height: 80px;
}

.favicon p {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    font-family: 'Charm', cursive;
}