.favicons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    margin-top: 40px; /* 원하는 상단 여백으로 조정하세요 */
}

.favicon {
    margin: 0 5px;
    margin-bottom: 10px;
}

.favicon img {
    width: 50px; /* 이미지 크기 조정 */
    height: 50px;
}