<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/calendar_chat.css">
    <title>Chat</title>
</head>
<body>
    <div class="favicons-container">
        <div class="favicon">
            <img src="favicon1.png" alt="Joy" />
        </div>
        <div class="favicon">
            <img src="favicon2.png" alt="Buzz" />
        </div>
        <div class="favicon">
            <img src="favicon3.png" alt="Sad" />
        </div>
        <div class="favicon">
            <img src="favicon4.png" alt="Disgust" />
        </div>
        <div class="favicon">
            <img src="favicon5.png" alt="Fear" />
        </div>
        <div class="favicon">
            <img src="favicon6.png" alt="BingBong" />
        </div>
    </div>
    <div class="container">
        <div class="calendar">
            <div id="calendar">
                <div id="calendar-header">
                    <button id="prev-month">&lt;</button>
                    <h3 id="month-year"></h3>
                    <button id="next-month">&gt;</button>
                </div>
                <table id="calendar-table">
                    <thead>
                        <tr>
                            <th>Sun</th>
                            <th>Mon</th>
                            <th>Tue</th>
                            <th>Wed</th>
                            <th>Thu</th>
                            <th>Fri</th>
                            <th>Sat</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <img src="/static/images/castle.png" alt="castle" class="castle">
        </div>
        <div class="chat">
            <div class="chat-container">
                <img src="/static/images/hogwart.png" alt="hogwart" class="hogwart">
                <div class="chat-messages">
                    
                </div>
                <div class="chat-input">
                    <input type="text" id="message-input" placeholder="Enter your message">
                    <button id="send-button">Send</button>
                </div>
            </div>
        </div>
    </div>
	<script src="/static/js/calendar.js"></script>
	<script src="/static/js/chat.js"></script>
</body>
</html>

