<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/profile.css">
    <title>SENDI</title>
</head>
<body>
    <div class="container">
        <div class="maruders">
            <img src="/static/images/wallpaper/maruders.gif" alt="maruders" class="maruders">
        </div>
        <div class="profile-area">
            <div class="text-container">
                <p class="tv">Choose your friend</p>
            </div>
            <div class="profile-card-list">
                <ul>
                    {% for profile in profiles %}
                        <li class="profile" data-id="{{ profile.id }}">
                            <img class="profile-card" src="{{ profile.avatar }}" alt="{{ profile.name }}">
                            <p class="profile-card-name">{{ profile.name }}</p>
                        </li>
                    {% endfor %}
                </ul>                  
            </div>
            <div class="announcement">
                <p>Potter, Roan, and Hermione are not clickable because they have not yet arrived at Horwart.</p>
            </div>
            <div class="logo-container">
                <p class="logo">SENDI</p>
            </div>
        </div>
    </div>
    <script src="/static/js/profile.js"></script>
</body>
</html>
